<div class="alert alert-warning alert-dismissible fade show d-none" id="alert-element" role="alert">
  <span id="alert-message"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  if (urlParams.has('error')) {
    document.getElementById('alert-message').innerText = atob(urlParams.get('error'));
    document.getElementById('alert-element').classList.remove('d-none');
  }
</script>