<header> 
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #9dc6f1";>
    <a class="navbar-brand" href="/urls">TinyApp 🍉</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100">
        <div ></div>
        <a class="nav-item nav-link text-white" href="/urls">My URLs</a>
        <a class="nav-item nav-link text-white" href="/urls/new">Create New URL</a>
        </div>
      </div>
      <div class="navbar-nav">
        <% if (user) { %>          
          <form class="form-inline" method="POST" action="/logout">
            <div style="margin: 15px;" class="text-white">Logged In As: <%= user.email%></div>
            <button type="submit" class="btn btn-outline-info">Logout</button>   
            <!-- pull button right -->
          </form>
        <% } else { %>
          <a class="nav-item nav-link text-white" href="/login">Login</a>
          <a class="nav-item nav-link text-white" href="/register">Register</a>
        <% } %>
      </div>
    </div>
  </nav>
</header>